{% extends 'base.html'%} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome</h1>
      <p>Welcome to Nigeria Programmers' Blog! In this blog we will be talking about Nigerians in the arena of programming, Software development and tech talent pool in Nigeria particularly and the world in general. </p>
      <a href="../navbar-top-fixed/">Go visit us at our Website</a>
      <a href="www.techcabal.com">techcabal.com</a>
      <p>To check out more cool stuff beyond just Blogs.
      </p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button"
          >Go to Posts. &raquo;</a
        >
      </p>
    </div>
  </div>
</main>
{% endblock %}
